# Ignored files
# Data directories
datasets/flower299/*/
datasets/flowers/*/
datasets/fruits/*/
test_images/*/

# Tensorflow save files
saves/*/
untitled_project/


# Temporary files
temp_*.*
model.png